.form {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 16px 10px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.input {
  font-size: 13px;
  border: none;
  flex: 1;
  background-color: transparent;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
}

.dark-input {
  color: hsl(236, 33%, 92%);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: hsl(236, 9%, 61%);
  opacity: 1; /* Firefox */
}

@media only screen and (min-width: 1440px) {
  .form {
    padding: 25px 15px;
    margin-bottom: 25px;
  }
  .input {
    font-size: 18px;
  }
}
